body {
    overflow: hidden;

    background-image: url("./../images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    }

canvas {
    margin: 0 auto;
    display: block;
}

#navbar {
    background-color: darkblue;
    height: 5px;
}